/* common styles */
* {
  padding: 0;
  margin: 0;
}
.btn {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 16px 24px;
  border-radius: 8px;
  background: #ff900e;
  border: none;
}
/* header styles */

/* nav styles */
header {
  background: rgba(255, 144, 14, 0.1);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 240px;
}
.nav-logo {
  color: #131313;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}
.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.nav-items li {
  margin-left: 40px;
  color: #424242;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}
.banner {
  text-align: center;
  padding-inline: 240px;
}
.banner img {
  width: 100%;
  margin-block: 50px;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  margin-block: 32px;
  color: var(--dark-03, #727272);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

/* gallery container */

.gallery-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-inline: 240px;
  margin-block: 100px;
}
.gallery-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.gallery-img > img {
  /* width: 300px;
  height: 300px; */
  width: 100%;
}
.gallery-description-title {
  color: #ff900e;
  font-size: 45px;
  font-weight: 700;
}
.gray {
  color: #727272;
}
.black {
  color: #131313;
}
.gallery-description-content {
  color: var(--dark-03, #727272);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-block: 24px;
}

/* feature-container */

.feature-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 150px;
  margin-inline: 240px;
}
.feature-summary-title {
  color: var(--dark-01, #131313);
  font-size: 45px;
  font-weight: 700;
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.feature-summary-desc {
  color: var(--dark-03, #727272);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-top: 20px;
  margin-bottom: 20px;
}
.feature-text-title {
  color: var(--dark-01, #131313);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
}
.feature-inside-text {
  color: var(--dark-03, #727272);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 50px;
  margin-top: 10px;
}
.feature-img > img {
  width: 100%;
  height: 800px;
}
.level {
  position: absolute;
}
.inside-level {
  display: inline-block;
  position: relative;
  padding: 20px 42px;
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  top: -70px;
  left: -70px;
}
.strong {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  /* 107.692% */
}
/* facts style */
.facts {
  margin-inline: 240px;
  margin-block: 140px;
}
.facts-text-title {
  color: var(--dark-01, #131313);
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}
.facts-text-desc {
  color: var(--dark-03, #727272);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 80px;
}
.facts-icon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  padding-inline: 50px;
}
.facts-icon-with-text {
  text-align: center;
  height: 200px;
  width: 180px;
  border-radius: 8px;
  border: 1px solid #ff900e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.count-text {
  color: var(--dark-03, #727272);
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
}
.count {
  color: #424242;
  font-size: 45px;
  font-weight: 600;
  margin-top: 10px;
}
/* sponsors */

.sponsors {
  text-align: center;
}
.sponsors-title {
  color: var(--dark-01, #131313);
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 24px;
}
.sponsors-text {
  color: var(--dark-03, #727272);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 50px;
}
.sponsors-img {
  margin-inline: 240px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.footer {
  border-radius: 8px;
  background: #fff4e7;
  padding: 40px 200px;
  color: var(--dark-02, #424242);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-inline: 240px;
  margin-block: 100px;
}
/* responsive design */

@media screen and (max-width: 600px) {
  .nav {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  .banner {
    padding-inline: 10px;
  }
  .nav-items li {
    margin-inline: 20px;
  }
  .banner-title {
    font-size: 3rem;
  }
  .gallery-container {
    grid-template-columns: 1fr;
    margin-block: 10px;
    margin-inline: 10px;
  }
  .feature-container {
    grid-template-columns: 1fr;
    margin-inline: 10px;
    gap: 20px;
    margin-block: 5rem;
  }
  .feature-img > img {
    width: 100%;
  }
  .inside-level {
    left: 100px;
  }
  .facts {
    margin-inline: 30px;
  }
  .facts-text-desc {
    margin-bottom: 30px;
  }
  .facts-icon {
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 10px;
    gap: 20px;
  }
  .sponsors-img {
    margin-inline: 20px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer {
    border-radius: 8px;
    background: #fff4e7;
    padding: 40px 20px;
    margin-inline: 10px;
    margin-block: 80px;
  }
}
